.hidden {
  visibility: hidden;
}

#photographer {
  max-width: 30%;
  border-radius: 50%;
}

p,
h1 {
  font-family: "Hedvig Letters Serif", serif;
  font-weight: 100;
}

footer p {
  align-content: center;
}

h3 {
  color: rgba(255, 255, 255, 0.25);
}

.bg-footer {
  width: 100%;
  background-color: rgba(228, 222, 219);
  border-radius: 20px;
}

.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: rgba(228, 222, 219);
}

.btn-kb-logo {
  background-color: #33787b;
  color: #ffffff;
  font-family: "Hedvig Letters Serif", serif;
  border-radius: 30px;
}

.btn-insta-link {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20%;
  margin-left: 20%;
  background-color: #e4dedb;
  text-align: center;
  width: 50%;
  border-radius: 30px;
  border: none;
  align-content: center;
  box-shadow: 3px 1px 3px thistle;
  padding: 2px;
}

.insta-links {
  font-family: "Playfair Display", serif;
  font-weight: normal;
  text-decoration: none;
  color: black;
  text-shadow: 3px 1px 2px #ffffff;
}

.kb-logo {
  font-family: "Playfair Display", serif;
  font-weight: normal;
  color: #33787b;
}

.jumbotron {
  background-image: url(images/Me/Background\ 2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  margin: none;
  padding: none;
}

.booking-section {
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

/* hover */
a:hover {
  opacity: 0.8;
}

h1:hover {
  cursor: default;
  opacity: 0.9;
}

p:hover {
  cursor: default;
}

/* BACKGROUND */
@media (min-width: 900px) {
  .background-photo {
    background-image: url(images/Me/Background\ 2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100vw;
    margin: none;
    padding: none;
  }
}

@media (min-width: 350px) and (max-width: 1234px) {
  .background-photo {
    background-image: url(images/Keystone/KB\ Photographer\ -\ Keystone\ Dec\ 9\ 2023-079.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100vw;
    margin: none;
    padding: none;
  }
}
