html {
  height: 100vh;
  width: 100vw;
}

body {
  background-color: black;
}

h3,
h1,
p,
span {
  color: rgba(255, 255, 255, 0.25);
}

header {
  display: block;
  background-color: #000000;
}

.nav-masthead .active,
p,
h1 {
  color: #fff;
  border-bottom-color: #fff;
  text-align: center;
  font-family: "Hedvig Letters Serif", serif;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

li > a {
  color: black;
}

li > a:visited {
  color: black;
}
/* hover */
a:hover {
  opacity: 0.8;
}

/* Classes */
.amazonfav {
  display: block;
  margin-top: 10px;
  margin-bottom: none;
  margin-right: 20%;
  margin-left: 20%;
  background-color: #000000;
  text-align: center;
  width: 50%;
  border: none;
  align-content: center;

  color: #ffffff;
}

.kb-logo {
  font-family: "Playfair Display", serif;
  font-weight: normal;
}

.btn-insta-link {
  display: block;
  margin-top: 10px;
  margin-bottom: none;
  margin-right: 20%;
  margin-left: 20%;
  background-color: #e4dedb;
  text-align: center;
  width: 50%;
  border-radius: 30px;
  border: none;
  align-content: center;
  box-shadow: 3px 1px 3px thistle;
  padding: 2px;
}

.insta-links {
  font-family: "Playfair Display", serif;
  font-weight: normal;
  text-decoration: none;
  color: black;
  text-shadow: 3px 1px 2px #ffffff;
}

.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: black;
}

.footer p {
  text-align: center;
}

.control-buttons {
  margin: 7% 0;
}

.carousel-inner {
  max-height: fit-content;
}

.bg-text-about {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  padding-top: 2%;
  padding-bottom: 2%;
}

/* IDs */
#photographer {
  max-width: 30%;
  border-radius: 50%;
}

#btn-discovery-call {
  margin-top: 25px;
}

/* Responsiviness */
@media (min-width: 700px) {
  .first-item {
    display: block;
    margin: auto;
    padding: 15%;
  }

  .carousel-item img {
    width: auto;
    height: 85vh;
    max-height: 85vh;
    margin: auto;
    display: block;
  }

  .background-about {
    background-image: url(../images/Keystone/KB\ Photographer\ -\ Keystone\ Dec\ 9\ 2023-079.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    width: 100vw;
    margin: none;
    padding: none;
  }
}

@media (max-width: 699px) {
  .first-item {
    display: block;
    margin: 0;
    padding: 10%;
  }

  .carousel-item img {
    width: auto;
    height: auto;
    max-height: 85vh;
    margin: auto;
    display: block;
  }

  .background-about {
    background-image: url(../images/Keystone/KB\ Photographer\ -\ Keystone\ Dec\ 9\ 2023-079.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    width: 100vw;
    margin: none;
    padding: none;
  }
}
